<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact the stylist</title>
</head>
<body>
<div>
 <h1>Contact the stylist</h1>
 <form>
   <table width = 400 height = 10000 cellpadding=3>
 <label for="name">Name:</label>
 <input type="text" style = "width: 85%" id="name" name="name"> <br>
 <label for="email">Email:</label>
 <input type="email" style = "width: 85%" id="email" name="email"><br>
 <label for="message">Message:</label><br>
 <textarea style = "width: 90%"  id="message" name="message"></textarea><br>
 <input type="submit" value="Submit">
 </form>
 <h2 font-size="70%">Other Contact Details</h2>
 <ul>
    <li>Email:  fashionstyle@gmail.com</li>
    <li>Phone:  8-777-147-20-67</li>
 </ul>
 </div>

</body>
</html>